@font-face {
  font-family: 'aramondPro';
  src: url('fonts/aramondPro-Bold.woff') format('woff'),
       url('fonts/aramondPro-BoldItalic.woff') format('woff'),
       url('fonts/aramondPro-Italic.woff') format('woff'),
       url('fonts/aramondPro-Regular.woff') format('woff');
}


:root {
  --wine-red: #C7375F;
  --bright-red: #D42D2F;
  --dark-green: #344D2F;
  --light-green: #77A047;
  --gold: #FAC57D;
  --snow: #F0F4F7;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    color: var(--dark-green);
    background-color: var(--snow);
    font-family: "aramondPro";
}

.container {
    display: flex;
    flex-direction: column;
    color: var(--snow);
    padding: 1em 2em;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    position: relative;
}

.bg {
    width: 468px;
}

.days {
    color: black;
    position: absolute;
    top: 56%;
    left: 30%;
    border-right: 2px solid black;
    margin: auto 0;
    padding-right: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.days h2 {
    font-size: 3rem;
    margin: 0;
    padding: 0;
}

.days-paragraph {
    font-size: 1.4rem;
    margin: -15px 0 0 0;
    font-weight: 100;
}

.timer {
    color: black;
    text-align: left;
    position: absolute;
    top: 56%;
    right: 32%;
    width: 120px;
}

.seconds {
    font-size: 1.5rem;
    color: var(--bright-red)
}